<section class="fixed bottom-2 left-4 z-50 md:left-8 md:bottom-10">
    <a href="tel:08504804211" class="flex items-center bg-transparent">
        <!-- Sol tarafta yuvarlak telefon simgesi ve ring animasyonu -->
        <div class="w-16 h-16 md:w-20 md:h-20 bg-red-800 rounded-full flex justify-center items-center relative">
            <i class="fas fa-phone-alt text-xl md:text-2xl text-white transform scale-x-[-1]"></i>
            <div class="absolute inset-0 rounded-full border-4 border-red-800 animate-ring-1"></div>
            <div class="absolute inset-0 rounded-full border-2 border-red-800 animate-ring-2"></div>
        </div>
        <!-- Sağ tarafta yazı bölgesi -->
        <div class="bg-red-800 px-4 py-1 md:px-8 md:py-2 rounded-r-full flex flex-col justify-center -ml-2 md:-ml-6">
            <span class="text-xs md:text-sm font-semibold text-white leading-none">Bize Ulaşın</span>
            <span class="text-xs md:text-s font-medium text-white">0850 480 42 11</span>
        </div>
    </a>
</section>

<section class="fixed bottom-2 right-4 z-50 md:right-8 md:bottom-10">
    <a class="flex items-center bg-transparent" href="/paket-secim">
        <!-- Sağ tarafta yuvarlak simge ve ring animasyonu -->
        <!-- Sol tarafta yazı bölgesi -->
        <div class="bg-green-600 px-4 py-1 md:px-8 md:py-2 rounded-l-full flex flex-col justify-center -mr-2 md:-mr-6">
            <span class="text-xs md:text-sm font-semibold text-white leading-none">Satın Al</span>
            <span class="text-xs md:text-s font-medium text-white">Anında İzle</span>
        </div>
        <div class="w-16 h-16 md:w-20 md:h-20 bg-green-600 rounded-full flex justify-center items-center relative">
            <i class="fas fa-shopping-cart text-xl md:text-2xl text-white"></i>
            <div class="absolute inset-0 rounded-full border-4 border-green-600 animate-ring-1"></div>
            <div class="absolute inset-0 rounded-full border-2 border-green-600 animate-ring-2"></div>
        </div>
    </a>
</section>